*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*    PAGE : 1 PAGE : 1 PAGE : 1 PAGE : 1 PAGE : 1    */


#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

nav{
    height: 100vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    position: fixed; 
    top: 20vh; 
    left: 40px;
    z-index: 2;
}

.sp {
    display: inline-block;
    visibility: hidden;
    z-index: 10;
    height: 2rem;
    width: 8rem;
    border-radius: 10px;
    background-color: rgb(83, 83, 168);
    padding: 10px;
}

nav a img:hover + .sp {
    visibility: visible;
    color: black;
    transform: translateY(-30px);
    transition: .15s;
}

nav a img{
    height: 40px;
    width: 30px;
    margin: 20px;
}

nav a img:hover{
    height: 50px;
    width: 50px;
    background-color: rgb(83, 83, 168);
    border-radius: 500px;
    transition-duration: .5s;
}

#background {
    height: 100vh;
    width: 100vw;
    position: relative;
}

#background img {
    height: 100vh;
    width: 100vw;
    opacity: 0.6; 
    object-fit: cover;
    object-position: top;
}

#content {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 15vw; 
    right: 0;
    bottom: 0;
}

#text {
    margin-left: 15px; 
}

#text h1 {
    font-size: 7em; 
    font-family: sans-serif;
}

#text p {
    font-size: 2em; 
}

#text div {
    display: flex;
    margin-top: 10px; 
}

#text img {
    width: 30px; 
    height: 30px;
    
}

.con-logo {
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
}

.con-logo:hover {
    background-color: rgb(90, 90, 226);
    border-radius: 50%;
    transition-duration: .5s;
}



/*     PAGE : 2 PAGE : 2 PAGE : 2 PAGE : 2 PAGE : 2    */



#page2{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1508615039623-a25605d2b022?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTI4fHxwcm9mZXNzaW9uYWwlMjBiYWNrZ3JvdW5kJTIwYWJzdHJhY3R8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}

#page2 p{
    font-family:sans-serif;
    color: #000;
    font-style: italic;
}

#upper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#line{
    margin-top: 15px;
    width: 100px;
    height: 6px;
    background-color: rgb(5, 98, 114);
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#upper h1{
    margin-top: 30px;
    font-size: 3rem;
    font-family: sans-serif;
    color: rgb(35, 35, 95);
}

#upper p{
    width: 70vw;
    line-height: 30px;
    font-size: 1.2rem;
}

#bottom{
    display: flex;
    justify-content: space-between;
}

button ul{
    margin-top: 15px;
    margin-bottom: 15px;
}

#bottom img{
    height: 60vh;
    margin-left: 15vw;
    margin-top: 3vh;
    border-radius: 10px;
    box-shadow: 10px 10px cadetblue;
}

#content2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 17px;
    margin-left: 20px;
    padding: 50px;
    overflow-x: hidden;
}

#content2 h1{
    font-family: sans-serif;
    font-size: 3rem;
    color: rgb(8, 63, 146);
}

#content2 p{
    font-family: sans-serif;
    font-size: 1.2rem;
    margin: 2%;
}

#list-flex{
    width: 60vw;
    line-height: 30px;
    display: flex;
    justify-content: space-evenly;
}

#list-flex ul{
    font-family: sans-serif;
    font-size: larger;
    font-weight: bolder;
}

#page2 span{
    color: rgb(78, 78, 206);
}


/*     PAGE : 3    PAGE : 3  PAGE : 3   PAGE : 3   PAGE : 3      */


#page3{
    height: 100vh;
    width: 100vw;
}

#page3 {
    background-image: url('https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover; 
  background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

#upper2{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 50px;
    font-family: sans-serif;
    font-size: 2rem;
    color: rgb(90, 90, 226); 
}

#halves{
    margin-left: 20vw;
    width: 70vw;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

#halves p{
    font-family: sans-serif;
    font-size: 1.2rem;
    margin: 15px;
}

#left-half{
    margin-top: 80px;
    height: 100%;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#left-half h2{
    font-family: sans-serif;
    font-size: 1.8rem;
    color: rgb(90, 90, 226); 
}

#up-lef{
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#bot-lef{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#right-half{
    margin: 40px;
    height: 100%;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#right-half h2{
    font-family: sans-serif;
    font-size: 1.8rem;
    color: rgb(90, 90, 226); 
}

#right-half h3{
    font-family: sans-serif;
    font-size: 1.5rem;
    color: rgb(231, 40, 40); 
}


#up-right{
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#bot-right{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



/*   PAGE : 4  PAGE : 4  PAGE : 4  PAGE : 4  PAGE : 4  PAGE : 4   */
#page4{
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.unsplash.com/photo-1557682260-96773eb01377?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fHw%3D);
    background-size: cover;
}

#page4 #top_part{
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page4 h1{
    font-family: sans-serif;
    font-size: 3rem;
    color: rgb(31, 31, 184); 
}

#line2{
    margin-top: 15px;
    width: 100px;
    height: 6px;
    background-color: black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#page4 p{
    font-family: sans-serif;
    font-size: 1.2rem;
    margin: 10px;
}


#selec{
    width: 70vw;
    margin-left: 20vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
    font-size: 2rem;
}

#selec h3:hover{
    color: blue;
    transition-duration: .3s;
    cursor: pointer;
}

#pics{
    display: flex;
    justify-content: space-evenly;
}

#pics img{
    height: 200px;
    width: 200px;
    margin-top: 50px;
    border: solid black;
    border-width: 5px;
    border-radius: 10px 30px 10px 70px;
}

#pics img:hover{
    height: 200px;
    width: 200px;
    margin-top: 50px;
    border: solid yellow;
    border-width: 6px;
    box-shadow: 10px 20px;
    transition-duration: .3s;
}



#page5{
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.unsplash.com/photo-1508615070457-7baeba4003ab?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE5fHx8ZW58MHx8fHx8);
    background-size: cover;
}


#page5 #top_part{
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page5 #cards{
    height: 300px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

#cards div{
    height: 250px;
    width: 200px;
    background-color: black;
    border-radius: 20px 70px;
}

#cards div img{
    height: 100px;
    width: 100px;
    border: solid rgb(34, 44, 31);
    border-radius: 20px;
    border-width: 4px;
}

#cards p{
    color: rgb(90, 90, 226); 
}

#page5 #cards2{
    height: 300px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

#cards2 div{
    height: 250px;
    width: 200px;
    margin-left: 15px;
    background-color: black;
    border-radius: 20px 70px;
}

#cards2 p{
    color: rgb(90, 90, 226); 
    padding: 10px;
    margin: 10px;
}

#cards2 div:hover{
    border: solid yellow;
    box-shadow: 10px 20px;
    transition-duration: .3s;
}

#cards div:hover{
    border: solid yellow;
    box-shadow: 10px 20px;
    transition-duration: .3s;
}

#cards2 div img{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    border: solid rgb(34, 44, 31);
    border-width: 4px;
}

#page5 p{
    margin-top: 30px;
    padding: 10px;
}



#page6{
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.unsplash.com/photo-1528460033278-a6ba57020470?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}


#page6 #top_part{
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page6 #contact-row{
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

#page6 #contact-row #cont-col div{
    margin: 30px;
}

#cont-form{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#mess{
    height: 50px;
    width: 450px;
}

#butt{
    border-radius: 10px;
    height: 30px;
    background-color: rgb(85, 109, 109);
    color: white;
}

#butt:hover{
    cursor: pointer;
}

#page6 input{
    height: 30px;
    border-radius: 20px;
    padding: 10px;
}





#page7{
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.unsplash.com/photo-1696777406868-5258913ef41d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHByb2Zlc3Npb25hbCUyMGJhY2tncm91bmQlMjBwbGFpbiUyMGJsdWV8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}


#testin h1{
    /* margin-top: 20vh; */
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#testin #photos{
    margin-top: 30px;
    height: 500px;
    width: 100vw;
    display: flex;
    margin-left: 10vw;
    align-items: center;
    overflow-x: auto;
}

#photos::-webkit-scrollbar{
    width: 0;
}

#testin #photos img{
    margin: 30px;
    border: solid black;
    border-width: 10px;
    border-radius: 10px 100px;
}


